---
import Layout from '../layouts/Layout.astro';
import BoxLink from '../components/BoxLink.astro';
import BoxEmpty from '../components/BoxEmpty.astro'
---

<Layout title="Welcome to Astro.">
	<container class="min-h-screen flex items-center justify-center">
		<div class="grid grid-cols-6 gap-4">
			<BoxLink />
			<BoxEmpty />
			<!-- Dodaj więcej BoxLink i BoxNormal według potrzeb -->
		</div>
	</container>
</Layout>

<style>

</style>
