<div class="relative w-[calc(100%/6)] pb-[calc(100%/4)]">
  <div
    class="relative w-full h-full bg-gray-400 flex items-center justify-center"
  >
    <p class="text-white">Title</p>
  </div>
</div>
