<div class="relative group w-[calc(100%/6)] pb-[calc(100%/4)]">
  <a
    href="#"
    class="absolute inset-0 flex items-center justify-center bg-gray-200 opacity-0 group-hover:opacity-100 transition-opacity"
  >
    <p>Opis linka</p>
  </a>
  <div
    class="relative w-full h-full bg-gray-400 flex items-center justify-center"
  >
    <p class="text-white">Title</p>
  </div>
</div>
